{% render 'partials/head.liquid' %}

<main>
  {% render 'partials/pizza_list.liquid', pizzas:pizzas, selectedType: selectedType, selectedSort: selectedSort, meta: meta, title: "Onze populaire nerdy pizza's" %}
</main>

{% render 'partials/foot.liquid' %}
