{% render 'partials/head.liquid', selectedType:selectedType %}

<main>
  <header>
    <h1>
      Onze nerdy pizza's <small>{{ meta.filter_count }} / {{ meta.total_count }}</small>
    </h1>
    {% if selectedType != "" %}
     <p>Je hebt gefiltered op: <strong>{{selectedType}}</strong></p>
    {% endif %}
  </header>
  
  {% for pizza in pizzas %}
    <a href="/pizzas/{{pizza.slug}}">
      {% render 'partials/pizza_card.liquid', pizza:pizza %}
    </a>
  {% endfor %}
</main>

{% render 'partials/foot.liquid' %}
