{% render 'partials/head.liquid', selectedType:selectedType, selectedSort:selectedSort %}

<main>
  {% render 'partials/pizza_list.liquid', selectedType:selectedType, selectedSort:selectedSort, pizzas:pizzas, meta:meta %}
</main>

{% render 'partials/foot.liquid' %}