@media (prefers-reduced-motion: no-preference) {
  @view-transition {
    navigation: auto;
  }
}

::view-transition-new(.pizza) {
  animation: pizza-enter 0.4s ease-in both;
  animation-delay: var(--delay);
}

::view-transition-old(.pizza) {
  opacity: 0;
  transition: opacity 0.2s ease-out;
  scale: 0;
}

@keyframes pizza-enter {
  from {
    opacity: 0;
    transform: translate(0, 100px) scale(.7);
  }
  to {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
}

a {
  &:focus,
  &:focus-visible {
    outline-color:var(--pizza-red);
    outline-width: 2px;
    outline-offset: 4px;
    color: var(--pizza-red);
  }
}

html, body {
  height: 100%;
}

body {
  --pizza-green: hsl(146, 98%, 21%);
  --pizza-white: hsl(0, 0%, 100%);
  --pizza-red: hsl(357, 69%, 41%);
  --pizza-light-green: hsl(146, 100%, 99%);
  --pizza-light-red: hsl(357, 65%, 99%);
  --pizza-bg: #eef4fb;
  --pizza-lighter: #f5f9fd;
  --pizza-card: #fdfdfd;

  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100%;
  display:flex;
  flex-direction: column;
  padding:.5rem .5rem 2rem;
  margin-bottom: 2rem;
  background: linear-gradient(180deg, var(--pizza-white) 0%, var(--pizza-light-green) 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #1a0a0a;

  @media (min-width:30em) {
    padding:0 2rem 2rem;
  }

  > header {
    display:flex;
    flex-direction: column;

    @media (min-width: 43.75em) {
      flex-direction: row;
      justify-content: space-between;
      align-items:center; 
      flex-wrap: wrap;
    }
    
    nav {
      padding:0 1rem;

      ul {
        display:flex;
        list-style: none;
        gap:1rem;
        padding:0;
        margin:0;

        a {
          display:block;
          margin: 1rem -.5rem 0;
          display:flex;
          align-items: center;
          gap:.25rem;
          padding:.25rem .5rem;
          border:1px solid transparent;
          white-space: nowrap;
          color:inherit;

          @media (min-width: 43.75em) {
            margin-top: 0;
          }

          &:hover {
            text-decoration:none;
          }
        }
      }
    }

    form {
      margin: 2rem 0;
      border: 1px solid var(--pizza-green);
      padding: 1rem;
      border-radius: .5rem;
      align-self: start;
      display:flex;
      gap:1rem;
      flex-direction: column;
      width:calc(100% - 2rem);
      position: relative;

      @media (min-width:43.75rem) {
         flex-direction: row;
         align-items:center;
         padding: .5rem 1rem;
         width:auto;
      }

      &:focus-within {
        background-color: var(--pizza-green);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
        color:var(--pizza-white);
      }
      
      label {
        font-weight: bold;
      }

      select,
      input {
        border-radius: .5rem;
        padding:.25rem .5rem;
        font-family: inherit;
        font-size: inherit;
        outline: none;
        border:none;
        margin-top: .5rem;
        line-height: 2;
        font-weight: normal;

        @media (min-width:43.75rem) {
          margin-top: 0;
          line-height: 1.5;
        }
      }

      input {
        transition:.25s;
        background-color: var(--pizza-green);
        color:#fff;

        &:focus,
        &:focus-visible {
          background-color: var(--pizza-red);
        }
      }

      select,
      ::picker(select) {
        appearance: base-select;
      }

      select {
        transition: 0.2s;
        border: 1px solid var(--pizza-green);
        background-color: #fff;
        padding:.175rem .5rem;
        color:black;

        width:100%;

        @media (min-width:43.75rem) {
          width: fit-content;
        }

        &:focus,
        &:focus-visible {
          outline: none;
          background-color: var(--pizza-red);
          color: var(--pizza-white);
        }
      }

      select::picker-icon {
        content: "⇩";
        transition:.25s;
        translate: -2.5px 0;
      }

      select:open::picker-icon {
        rotate: 180deg;
      }
            
      option {
        font-family: inherit;
        font-size: inherit;
        outline :none;

        display: flex;
        justify-content: flex-start;
        gap: 20px;

        background: #eeeeee;
        padding: .25rem;
        transition: 0.2s;
        border-radius:0 !important;
        border-width:0 !important;

        &:focus-visible {
          background-color: #fff;
        }
        &:hover {
          background-color: #fff;
        }
      }

      option:first-child {
        border-radius:8px 8px 0 0 !important;
      }
      
      option:last-child {
        border-radius:0 0 8px 8px !important;
      }

      ::picker(select) {
        border-radius: .5rem;
        border-color: var(--pizza-green);
        margin-top: 1rem;
        border-width:1px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      }

      option::checkmark {
        order: 1;
        content: attr(data-icon);
        margin-left:auto;
        margin-right:5px;
        scale:1.25;
      }

      option:checked {
        font-weight: bold;
        background-color: #fff;
      }

      .loader {
        position:absolute;
        right:1rem;
        top:.5rem;
        width: 1.5rem;
        height: 1.5rem;
        color: var(--pizza-green);
        opacity:0;
        transform-origin: center; 
        transition:.25s;
        color:var(--pizza-white);

        @media (min-width:43.75rem) {
          left:-2rem;
          right:auto;
          top:auto;
          color:var(--pizza-green);
        }

        &.loading {
          animation: spin 1s linear infinite;
          opacity:1;
        }
      }
    }

    
  }
}

main {
  display:flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 1rem;

  a {
    text-decoration: none;
    color: inherit;
    height:fit-content;
  }

  p:empty,
  div:empty {
    display:none;
  }

  > header {
    grid-column: 1 / -1;
    grid-row:auto;
    padding:0 1rem;

    h1 {
      font-weight:100;
      font-size: clamp(1.25rem, -2rem + 10vw, 3rem);

      small {
        font-size:1rem;
      }
    }

    p {
      height:1.5rem;
      display:flex;
      flex-wrap:wrap;
      gap:.5rem;

      @media (min-width:43.75rem) {
        margin-bottom: -1rem;
      }

      span:first-of-type {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  > ul {
      list-style: none;
      padding:0;
      margin:0;
      display:flex;
      flex-direction: column;
      gap:2rem;

      @media (min-width: 43.75rem) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        align-items: stretch;
      }

      li {
        margin-bottom: 2rem;
      }
    }

  article {
    --delay: calc(sibling-index() * 1000ms);
    view-transition-class: pizza;
    border: 1px solid var(--pizza-green);
    padding: 1rem;
    border-radius: .5rem;
    transition: 0.2s ease;
    height:100%;
    display:flex;
    flex-direction: column;
    background-color: #f5f9fd;
    background: linear-gradient(180deg, var(--pizza-white) 0%, var(--pizza-light-green) 100%);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.85);
    position: relative;
    overflow: hidden;
  
    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 8px;
      background: linear-gradient(90deg, var(--pizza-green) 0%, var(--pizza-green) 33.33%, var(--pizza-white) 33.33%, var(--pizza-white) 66.66%, var(--pizza-red) 66.66%, var(--pizza-red) 100%);
    }

    &:hover {
      border-color: var(--pizza-green);
      transform: translateY(-2px);
    }

    &.show-detail {
      display: flex;
      flex-direction: column;

      @media (min-width: 43.75rem) {
        display:grid;
        grid-template-columns: 2fr 1fr;
        gap:1rem 3rem;
        max-width:75vw;
      }

      header {
        grid-column: 1 / -1;
      }

      img {
        grid-column: 1 / 2;
        grid-row: span 2;
        margin:0 0 -.5rem -1rem;
      }

      div,
      footer {
        grid-column: 2 / 3;
      }

      div {
        margin-top: -1rem;
      }

      footer {
        margin-top: auto;
      }
    }

    header {
      margin-bottom: 0.5rem;

      h2 {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0;
        white-space: nowrap;
      }
    }

    img {
      width: calc(100% + 2rem);
      max-width: calc(100% + 2rem);
      height: auto;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      display: block;
      margin: -1rem 0 0 -1rem;
      border-radius: .5rem .5rem 0 0;
      margin-bottom: 0.75rem;
    }


    footer {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}